/* future-flights.component.css */

.future-flights-container {
  width: 80%; /* Adjust width as needed */
  margin: 20px auto;
  padding: 30px;
  background-color: #f9f9f9; /* Light background color */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 99, 192, 0.812); /* Subtle shadow */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

h1 {
  text-align: center;
  color: #3f51b5; /* Material blue */
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: #777; /* Slightly darker gray */
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Light gray border */
}

th {
  background-color: #f0f0f5; /* Very light gray background */
  cursor: pointer; /* Indicate that it's clickable for sorting */
}

th:hover {
  background-color: #e0e0e5; /* Slightly darker on hover */
}

button {
  background-color: #0056b3;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}

