<mat-card>
  <mat-card-title>Future Flights</mat-card-title>
  <mat-table [dataSource]="futureFlights" matSort>
    <ng-container matColumnDef="flightNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Flight Number </mat-header-cell>
      <mat-cell *matCellDef="let flight"> {{ flight.flightNumber }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="destination">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Destination </mat-header-cell>
      <mat-cell *matCellDef="let flight"> {{ flight.destinationCode }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="departureDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Departure Date </mat-header-cell>
      <mat-cell *matCellDef="let flight"> {{ flight.departureDate | date }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
</mat-card>
