.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #3f51b5; /* Material blue */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.home-button {
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.home-button mat-icon {
  margin-right: 8px;
}
