<h2 mat-dialog-title>Edit Destination</h2>
<div mat-dialog-content>
  <form #destinationForm="ngForm" (ngSubmit)="onSave()">
    <div>
      <label for="destinationCode">Code:</label>
      <input type="text" id="destinationCode" name="destinationCode" [(ngModel)]="data.destination.destinationCode" required>
    </div>
    <div>
      <label for="destinationName">Name:</label>
      <input type="text" id="destinationName" name="destinationName" [(ngModel)]="data.destination.destinationName" required>
    </div>
    <div>
      <label for="imageUrl">Image URL:</label>
      <input type="text" id="imageUrl" name="imageUrl" [(ngModel)]="data.destination.imageUrl" required>
    </div>
    <div>
      <label for="airportName">Airport Name:</label>
      <input type="text" id="airportName" name="airportName" [(ngModel)]="data.destination.airportName" required>
    </div>
    <div>
      <label for="airportWebsite">Airport Website:</label>
      <input type="text" id="airportWebsite" name="airportWebsite" [(ngModel)]="data.destination.airportWebsite" required>
    </div>
    <div>
      <label for="emailAddress">Email Address:</label>
      <input type="email" id="emailAddress" name="emailAddress" [(ngModel)]="data.destination.emailAddress" required email>
    </div>
    <div mat-dialog-actions>
      <button mat-button type="button" (click)="onNoClick()">Cancel</button>
      <button mat-button color="primary" type="submit" [disabled]="!destinationForm.valid">Save</button>
    </div>
  </form>
</div>
