<div class="book-a-flight-container">
  <h2>Book a Flight</h2>

  <!-- Flight List Table -->
  <table>
    <thead>
      <tr>
        <th>Flight No.</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="flights.length > 0">
      <tr *ngFor="let flight of flights">
        <td>{{ flight.flightNumber }}</td>
        <td>{{ flight.origin }}</td>
        <td>{{ flight.destination }}</td>
        <td>
          <button mat-raised-button color="primary"
          (click)="openBookingDialog(flight)">Book</button>
        </td>
      </tr>
    </tbody>
  </table>

