mat-dialog-content {
  font-family: Arial, sans-serif;
  margin: 10px 0;
}

mat-dialog-content p {
  margin: 5px 0;
}

mat-dialog-content label {
  display: inline-block;
  margin-top: 10px;
}

mat-dialog-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

input[type='number'] {
  margin-left: 10px;
  width: 60px;
  text-align: center;
}
