/* עיצוב כללי */
.flight-management-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f0f0f5; /* צבע רקע בהיר לכותרות */
}
/* עיצוב כפתורים */
button {
  background-color: #007bff; /* צבע כחול */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px; /* מרווח בין כפתורים */
  transition: background-color 0.3s ease; /* מעבר חלק לשינוי צבע */
}

button:hover {
  background-color: #0056b3; /* צבע כחול כהה יותר בעת ריחוף */
}

/* עיצוב כפתור "הוסף טיסה חדשה" */
.add-flight-button {
  background-color: #28a745; /* צבע ירוק */
  display: block; /* ודא שהכפתור הוא אלמנט בלוק */
  margin: 20px auto; /* מרווח עליון ותחתון של 20px, מרווח צדדי אוטומטי */
  width: 200px; /* הגדר רוחב קבוע לכפתור */
}

.add-flight-button:hover {
  background-color: #218838; /* צבע ירוק כהה יותר בעת ריחוף */
}
